}
100% {
    transform: translateX(-50%);
}
}

h1 {
color: red;
display: inline-block; /*needed to trigger update */
}
}

@media screen and (max-width:700px) {
@keyframes bounce {
0% {
    transform: translateY(-200%);
}
100% {
    transform: translateY(0);
}
}

h1 {
color: green;
display: block; /* needed to trigger update */
}
}