button {
    background-color: grey;
    width: 80px;
    height: 35px;
}

h5 {
    font-family: fantasy;
    color: black;
}
img {
    width: 269px;
    height: 249px;
}
fieldset {
    border:2px solid gray;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;  
    max-width:500px;
    padding:16px;
}
label {
    color: black;
}
#menuu {
    height: 60px;
    background-color: black;
    color: white;
} 
  
#menuu ul {
    padding:25px;
    margin:20px;
    list-style:none;
    font-size: 20px;
    color: white;
    word-spacing: 35px;
    font-family:"Yu Gothic Light";
    float: right;
    text-decoration: none;
    position: relative;
    top: -30px;
}
  
#menuu ul li {
    display: inline;
}
  
.a a {
    text-decoration: none;
    color: white;
}

.formulario {
    position: absolute;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 10px;
	font-family: "NSimSun";

}