#site{
    width:100%;
    height:100%;
    margin-top:0;
    margin-left:auto;
    margin-bottom:0;
    background-color:#666;
}
#conteudo-left{
    width:25%;
    height:650px;
    float:left;
    background-color: white;
    }

#header{
    width:100%;
    height:50px;
    background-color: black;
}

#menuu {
    height: 60px;
    background-color: black;
    color: white;
} 
  
#menuu ul {
    padding:25px;
    margin:20px;
    list-style:none;
    font-size: 20px;
    color: white;
    word-spacing: 35px;
    font-family:"Yu Gothic Light";
    float: right;
    text-decoration: none;
    position: relative;
    top: -30px;
}
  
#menuu ul li {
    display: inline;
}
  
.a a {
    text-decoration: none;
    color: white;
}

#conteudo-right{
    width:700px;
    height:650px;
    float:left;
    background-color: white;
}

#footer{
    width: 100%;
    position:absolute;
    bottom:0;
    background-color: black;
	color: white;
	text-align: center;
	font-size: 10px;
    font-family: "NSimSun";
    }

img {
    width: 170px;
    height: 170px;
}

table {
    background-color: white;
    width: 100%;
}

a:link {
    text-decoration: none;
}

button {
    background-color: rgb(31, 138, 31);
    width: 170px;
    height: 40px;
    font-size: 100%;
    color: white;
}
