<!DOCTYPE html>
 <html>
 <head>
    <meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/static/página_de_artistas.css">
	<link rel="icon" type="imagem/png" href="/static/mpb_logo.png" />
  <title>Seu Jorge|Universo MPB</title>
</head>
<body>
	<div id="site">
		
		<div id="header">
			<div id="menuu">
				<ul>
				<div class="a">
					<li><a href = "/contato">Contato</a></li>
					<li><a href = "/form_inserir_pessoas">Cadastro</a></li>
					<li><a href = "/form_login">Login</a></li>
			</div>
		</div>
		<br>
		<div id="conteudo-left">
            <a href="/album">Anavitória</a><br>
            <a href="/alumbum1">Melim</a><br>
            <a href="/album2">Caetano Veloso</a><br>
            <a href="/album3">Jão</a><br>
            <a href="/album4">Ana Vilela</a><br>
            <a href="/album5">Tiê</a><br>
            <a href="/album6">Engenheiros do Hawaii</a><br>
            <a href="/album7">Roupa Nova</a><br>
            <a href="/album8">Vitor Kley</a><br>
			<a href="/album9">Seu Jorge</a><br>
			<a href="/album10">Luiz Gonzaga</a><br>
			<a href="/album11">Chico Buarque</a><br>
			<a href="/album12">Elis Regina</a><br>


        </div>

		<div id="conteudo-right">
			<table>
				<tr>
					<th><img src="/static/seujorge_principal.jpg" alt = seujorge_principal></th>
					<td><h4>SEU JORGE</h4>
						<p>Jorge Mário da Silva</p>
						<p>Samba-Funk, MPB </p>
						<p>1998-presente</p>
					</td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<div class="italico">	
				<h3>© 2019 Copyright: Todos os direitos reservados</h3>
			</div>
		</div>	
	</div>		 
</body>
</html>