<!DOCTYPE html>
 <html>
 <head>
    <meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/static/página_de_artistas.css">
  <title>Anavitória|Universo MPB</title>
</head>
<body>
	<div id="site">
		
		<div id="header">
			<div id="menuu">
				<ul>
				<div class="a">
					<li><a href = "/contato">Contato</a></li>
					<li><a href = "/form_inserir_pessoas">Cadastro</a></li>
					<li><a href = "/form_login">Login</a></li>
			</div>
		</div>
			 
		<div id="conteudo-left">
			<nav id="menu">
				<ul>
					<li><a href="/album">Anavitória</a></li>
					<li><a href="/alumbum1">Melim</a></li>
					<li><a href="#">nada</a></li>
					<li><a href="#">nada</a></li>
					<li><a href="#">nada</a></li>
				</ul>
			</nav>	 
		</div>
		<footer>
			<br>
			<div class="italico">	
				<h3>© 2019 Copyright: Todos os direitos reservados</h3>
			</div>
		</footer>	
	</div>		 
</body>
</html>