<!DOCTYPE html>
 <html>
 <head>
    <meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/static/inicio.css">
  <title>
                     no MBP | Álbum, notícias e todas as fotos!
                            
            </title>
</head>
<body>
	<div id="menuu">
		<ul>
		<div class="a">
			<li><a href = "/contato">Contato</a></li>
			<li><a href = "/form_inserir_pessoas">Cadastro</a></li>
			<li><a href = "/form_login">Login</a></li>
		</div>
	</div>
<h1> Ana Vitória </h1>
<p>Anavitória é uma dupla composta pelas cantoras Ana Clara Caetano e Vitória Falcão, naturais de Araguaína, cidade do Tocantins. As jovens iniciaram a carreira em 2015, quando lançaram o EP "Anavitória".No ano seguinte, elas arrecadaram R$ 60 mil por meio de uma "vaquinha virtual" e, com a produção do cantor Tiago Iorc, lançaram seu primeiro álbum, de mesmo nome da dupla.
Em dois anos de estrada, Anavitória já tem como singles as canções "Singular", "Chamego Meu", "Agora Eu Quero Ir", "Trevo", gravado com Tiago Iorc, e "Fica", em parceria com a dupla sertaneja Matheus e Kauan. <p/> </div>
<h4>Suas principais composições<h4>
<ol>
<li> Agora Eu Quero Ir</li>
<li>Cor de Marte</li>
<li>Singular</li>
<li>Chamego Meu</li>
<li>Trevo (Tu) com Tiago Iorc</li>
<li>Coração Carnaval</li>
<li>Dengo</li>
<li>Tocando em Frente</li>
<li>Talvez a Deus</li>
<li>Tua</li>
</ol>
<br>
<div align= 'center'>
<table>
<th> <img src="/static/ana.jpg" alt="anas"></th>
<th><img src="/static/ane.jpg" alt="anas"></th>
<th><img src="/static/ano.jpg" alt="anas"></th>
</table></div>
  	
<br>
<br>
<footer>
	<br>
	<div class="italico">	
		<h3>© 2019 Copyright: Todos os direitos reservados</h3>
	</div>
</footer>
</body>
</html>