
 <!DOCTYPE html>
 <html>
 <head>
    <meta charset="UTF-8"/>
  <title>no MBP | Álbum, notícias e todas as fotos!</title>
  <link rel="stylesheet" type="text/css" href="/static/inicio.css">
</head>
<body>
    <div id="menuu">
        <ul>
        <div class="a">
            <li><a href = "/contato">Contato</a></li>
            <li><a href = "/form_inserir_pessoas">Cadastro</a></li>
            <li><a href = "/form_login">Login</a></li>
        </div>
    </div>
<br>
    <h1> Melim </h1>
    <p>A banda Melim é uma das grandes revelações do pop nacional em 2018 e o trio foi atração da Casa QUEM – evento em uma mansão com vista privilegiada no Joá, Zona Sul do Rio, em parceria com a AlugueTemporada. Em um bate-papo descontraído, Gabi, Diogo e Rodrigo Melim falaram sobre a carreira e o sucesso estrondoso do hit Meu Abrigo.A banda Melim é uma das grandes revelações do pop nacional em 2018 e o trio foi atração da Casa QUEM – evento em uma mansão com vista privilegiada no Joá, Zona Sul do Rio, em parceria com a AlugueTemporada. Em um bate-papo descontraído, Gabi, Diogo e Rodrigo Melim falaram sobre a carreira e o sucesso estrondoso do hit Meu Abrigo. <p/> </div>
    <h4>Suas principais composições<h4>
  <ol>
    <li> Meu Abrigo</li>
    <li> Ouvi Dizer</li>
    <li> Peça Felicidade</li>
    <li>Transmissão de Pensamento</li>
    <li> Não Demora</li>
    <li> Avião de Papel</li>
    <li> Um Mundo Ideal</li>
    <li> Viva o Amor</li>
    <li> Era Pra Ser Outra Canção Feliz</li>
    <li> Uma Luz</li>
  </ol>
<br>

<div align= 'center'>

<table>
  <th> <img src="/static/mol.jpg" alt="anas"></th>
  <th><img src="/static/mel.jpg" alt="anas"></th>
  <th><img src="/static/mil.jpg" alt="anas"></th>
</table></div>
  	
<br>
<br>
<footer>
    <br>
    <div class="italico">	
        <h3>© 2019 Copyright: Todos os direitos reservados</h3>
    </div>
</footer>
</body>
</html>

