<!DOCTYPE html>
 <html>
 <head>
 	<title>Contato</title>
 	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="static/login.css">
 	<link rel="shortcut icon" href="midia/imagens/logo.png" type="image/x-png">
 </head>

<body>
	<div id="menuu">
	  <ul>
 		<div class="a">
			<li><a href = "/contato">Contato</a></li>
			<li><a href = "/form_inserir_pessoas">Cadastro</a></li>
			<li><a href = "/form_login">Login</a></li>
    </div>
	  </div>

<br>
<br>

	<form name="formteste" action="" method="post">

		
		<h1>Contato</h1>

		<p class="nome">
			<input type="text" name="nome" placeholder="Nome" required="required">
		</p>

		<p class="email">
			<input type="email" name="email" placeholder="E-mail" required="required">
		</p>

		<p class="mensagem">
			<textarea name="mensagem" placeholder="Mensagem"></textarea>
		</p>

		<p class="enviar">
			<input type="submit" name="enviar" value="Enviar">
		</p>

	</form>

	<footer>
        <br>
        <div class="italico">	
            <h3>© 2019 Copyright: Todos os direitos reservados</h3>
        </div>
	</footer>
</body>
</html>