<!DOCTYPE html>
 <html>
 <head>
 	<title>Contato</title>
 	<meta charset="utf-8">
 	<link rel="stylesheet" type="text/css" href="static/inicio.css">
 	 <link rel="shortcut icon" href="midia/imagens/logo.png" type="image/x-png">
 	<style type="text/css">
#menuu {
	height: 60px;
	background-color: black;
	color: white;
}	

#menuu ul {
	padding:25px;
	margin:20px;
	list-style:none;
	font-size: 20px;
	color: white;
	word-spacing: 35px;
	font-family:"Yu Gothic Light";
	float: right;
	text-decoration: none;
	position: relative;
	top: -30px;
}

#menuu ul li {display: inline;}

.a a {
	text-decoration: none;
	color: white;
}

	</style>

 </head>

<body>
	<div id="menuu">
	  <ul>
 		<div class="a">
    		<li><a href="compras.html">Serviços</a></li>
    		<li><a href="/contato">Contato</a></li>
    		<li><a href="/form_login">Login</a></li>
    </div>
	  </div>

<br>
<br>

	<form name="formteste" action="" method="post">

		
		<h1>Contato</h1>

		<p class="nome">
			<input type="text" name="nome" placeholder="Nome" required="required">
		</p>

		<p class="email">
			<input type="email" name="email" placeholder="E-mail" required="required">
		</p>

		<p class="mensagem">
			<textarea name="mensagem" placeholder="Mensagem"></textarea>
		</p>

		<p class="enviar">
			<input type="submit" name="enviar" value="Enviar">
		</p>

	</form>
<br>
<br>
<hr>

<h2>Nos siga nas redes sociais:</h2>
<div id="redes">
	<p>Instagram: @sustentour<br>
	</p>
</div>
	<footer> 
	<br>
	<h3>bla</h3>
	</footer>
</body>
</html>
