<!DOCTYPE html>
<html>
<head>
	<title>Universo MPB</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/Index_css.css">
	
</head>
<body>
	<nav id="menu">
	    <ul>
	        <li><a href = "/comprar">Comprar</a></li>
        	<li><a href = "/contato">Contato</a></li>
        	<li><a href = "/form_login">Login</a></li>
	    </ul>
	</nav>


<br>

<img src="/static/in.png">
<br>
<br>
<hr>
<br>
<h2>MPB</h2>
<p>A década de 60 é considerada um período de ebulição na música brasileira. É quando passam a coexistir o samba, o jazz, a Bossa Nova, o sertanejo de raiz, a moda de viola, o baião nordestino, o rock e outros.

Esse período é considerado um marco para a indústria da música nacional. Compositores e intérpretes passam a contestar o regime militar que cassou direitos e restringiu a liberdade.

A partir dessa fase é popularizada a sigla MPB como marca de um movimento próprio de contestação social e política.

</p>

<h2>Universo MPB</h2>
<p>A década de 60 é considerada um período de ebulição na música brasileira. É quando passam a coexistir o samba, o jazz, a Bossa Nova, o sertanejo de raiz, a moda de viola, o baião nordestino, o rock e outros.

Esse período é considerado um marco para a indústria da música nacional. Compositores e intérpretes passam a contestar o regime militar que cassou direitos e restringiu a liberdade.

A partir dessa fase é popularizada a sigla MPB como marca de um movimento próprio de contestação social e política.</p>
<br>
<hr>
<h4>Artistas em destaque</h4>
		{%if session['usuario']:%}
            <form action = "/listar_pessoas">
                <button>Listar</button>
            </form>
            <form action = "/logout">
                <button>Logout</button>
            </form>
        {%else:%}
            <form action = "/listar_pessoas">
                <button>Listar</button>
            </form>
            <form action = "/form_login">
                <button>Login</button>
            </form>
        {%endif%}
<footer>
<br>

<div class="italico">	
	<h3>© 2019 Copyright: Todos os direitos reservados</h3>
</div>
<br>
</footer>

</body>
</html>