<!DOCTYPE html>
<html>
<head>
	<title>Universo MPB</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/inicio.css">
	<link rel="icon" type="imagem/png" href="/static/mpb_logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
	.mySlides {display:none;}
	</style>
	
</head>
<body>
	<nav id="menuu">
	    <ul>
        <div class="a">
	        <li><a href = "/contato">Contato</a></li>
        	<li><a href = "/form_inserir_pessoas">Cadastro</a></li>
            <li><a href = "/form_login">Login</a></li>
        </div>
	    </ul>
	</nav>

	<div class="w3-content w3-display-container">

		<div class="w3-display-container mySlides">
		  <img src="/static/inferno.jpg" style="width: 100%">
		  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
			LANÇAMENTO MELIM
			POR APENAS R$29,99
		  </div>
		</div>
		
		<div class="w3-display-container mySlides">
		  <img src="/static/jao.jpeg" style="width:100%">
		  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
			Northern Lights
		  </div>
		</div>
		
		<div class="w3-display-container mySlides">
		  <img src="/static/vikey.jpg" style="width:100%">
		  <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
			Beautiful Mountains
		  </div>
		</div>
		
		<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
		<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
		
		</div>
		
		<script>
		var slideIndex = 1;
		showDivs(slideIndex);
		
		function plusDivs(n) {
		  showDivs(slideIndex += n);
		}
		
		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  if (n > x.length) {slideIndex = 1}
		  if (n < 1) {slideIndex = x.length}
		  for (i = 0; i < x.length; i++) {
			 x[i].style.display = "none";  
		  }
		  x[slideIndex-1].style.display = "block";  
		}
		</script>
 
<br>
<h4>Artistas em destaque</h4>
	<a href="/album">Anavitória</a><br>
	<a href="/alumbum1">Melim</a><br>
	<a href="/album2">Caetano Veloso</a><br>
	<a href="/album3">Jão</a><br>
	<a href="/album4">Ana Vilela</a><br>
	<a href="/album5">Tiê</a><br>
	<a href="/album6">Engenheiros do Hawaii</a><br>
	<a href="/album7">Roupa Nova</a><br>
	<a href="/album8">Vitor Kley</a><br>
	<a href="/album9">Seu Jorge</a><br>
	<a href="/album10">Luiz Gonzaga</a><br>
	<a href="/album11">Chico Buarque</a><br>
	<a href="/album12">Elis Regina</a><br>


<br>



<h2>MPB</h2>
<p>A década de 60 é considerada um período de ebulição na música brasileira. É quando passam a coexistir o samba, o jazz, a Bossa Nova, o sertanejo de raiz, a moda de viola, o baião nordestino, o rock e outros.

Esse período é considerado um marco para a indústria da música nacional. Compositores e intérpretes passam a contestar o regime militar que cassou direitos e restringiu a liberdade.

A partir dessa fase é popularizada a sigla MPB como marca de um movimento próprio de contestação social e política.

</p>

<h2>Universo MPB</h2>
<p>A década de 60 é considerada um período de ebulição na música brasileira. É quando passam a coexistir o samba, o jazz, a Bossa Nova, o sertanejo de raiz, a moda de viola, o baião nordestino, o rock e outros.

Esse período é considerado um marco para a indústria da música nacional. Compositores e intérpretes passam a contestar o regime militar que cassou direitos e restringiu a liberdade.

A partir dessa fase é popularizada a sigla MPB como marca de um movimento próprio de contestação social e política.</p>
<br>
<hr>
<footer>
<br>

<div class="italico">	
	<h3>© 2019 Copyright: Todos os direitos reservados</h3>
</div>
</footer>

</body>
</html>

<!--{%if session['usuario']:%}
<form action = "/logout">
    <a href = "/logout">Logout</a>
</form>
{%else:%}
<form action = "/form_login">
    <a href = "/form_login">Login</a>
</form>
{%endif%}-->